## Build outputs
bin/
obj/
dist/
out/
*.user
*.suo

## Dependencies
node_modules/

## Environment
.env
.env.local
.env.*.local

## IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

## OS
.DS_Store
Thumbs.db

## Logs
*.log
npm-debug.log*

## Misc
frontend/frontend@0.0.0
frontend/tsc
frontend/dist/
